@use "variables";

.product-list-container-txt {
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 90%;
	margin: auto;
	position: relative;
	height: 250px;
	overflow-y: auto;
	.product-items {
		$hight: 40px;
		.product-item {
			display: grid;
			grid-template-columns: 1fr 8fr 1fr 2fr;
			padding: 5px;
			// border-radius: 10px;
			// background-color: white;
			// box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			transition: all 0.3s ease-in-out;
			gap: 10px;
			height: $hight;

			&.product-erased {
				display: none;
			}

			.product-image {
				width: 100%;
				justify-content: center;
				margin-bottom: 15px;
				position: relative;
				height: $hight;
				img {
					max-width: 100%;
					height: $hight;
					object-fit: cover;
				}
			}

			.product-name {
				font-size: 0.9rem;
				display: flex;
				justify-content: left;
				align-items: center;
				height: $hight;
			}
			.product-quantity {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.2rem;
				height: $hight;
			}
			.product-price {
				font-size: 1.2em;
				text-align: right;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 5px;
				height: $hight;
				.product-price-currency {
					font-size: 0.8em;
					margin-top: 7px;
				}
				.product-price-amount {
					font-size: 1.2em;
					font-weight: 600;
				}
			}
		}
	}
	@media (max-width: 600px) {
		.product-items-container {
			.product-item {
				height: 80px;
				.product-image {
					img {
						object-fit: cover;
					}
				}
				.product-info {
					.product-data {
						height: 60px;
						.product-name {
							.product-title {
								font-size: 0.9em;
							}
							.product-comment {
								font-size: 0.8em;
							}
						}
						.product-price {
							font-size: 1.4em;
							font-weight: 700;
						}
					}
					.product-tools {
						height: 20px;
					}
				}
			}
		}
	}

	@media (max-width: 500px) {
		.product-items-container {
			.product-item {
				height: 80px;
				.product-info {
					.product-data {
						height: 50px;
						.product-name {
							.product-title {
								font-size: 0.8em;
							}
						}
						.product-price {
							font-size: 1.3em;
							font-weight: 600;
						}
					}
				}
			}
		}
	}

	.product-list-view-container {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba($color: #000000, $alpha: 0.3);
		.product-list-view {
			width: 90%;
			height: 144px;
			margin: auto;
			margin-top: 25px;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: variables.$shadow;
			background-color: #fff;
			.view-marquee {
				position: relative;
				display: grid;
				grid-template-columns: 11fr 1fr;
				background-color: variables.$attenpo-green;
				border-radius: 5px 5px 0 0;
				color: white;
				height: 25px;
				.view-product-name {
					padding-left: 5px;
					padding-top: 2px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.view-product-close {
					position: absolute;
					top: 0;
					right: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					button {
						font-size: 0.8rem;
					}
				}
			}
			.view-product-details {
				display: grid;
				grid-template-columns: 3fr 5fr 4fr;
				height: 120px;
				position: relative;
				.view-product-image {
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						height: 100px;
						width: auto;
						object-fit: cover;
					}
				}
				.view-product-quantity {
				}
				.view-product-price {
					display: flex;
					justify-content: space-around;
					align-items: center;
					font-size: 1.8rem;
				}
				.view-product-qty-confirm {
					position: absolute;
					bottom: 0;
					right: 0;
					.button-qty-confirm {
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 0px 0 5px 0;
						background-color: variables.$attenpo-green;
						color: white;
						padding: 5px 10px;
						&:disabled {
							background-color: variables.$attenpo-green-dis;
						}
					}
				}
			}
			.view-product-qty-message {
				display: flex;
				justify-content: space-around;
				padding-top: 50px;
				.view-message {
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 1.3rem;
					font-weight: 600;
				}
				.icono {
					margin-top: -20px;
				}
			}
		}
	}

	.product-bottom-container {
		width: 100%;
		margin: auto;
		max-width: variables.$container-list-max-width;

		.product-list-total {
			display: grid;
			grid-template-columns: 2fr 10fr;
			font-size: 2em;
			margin-top: 20px;
			// .total-text {
			// }
			.total-value {
				font-weight: 600;
				text-align: right;
			}
		}
		.product-list-buttons {
			margin: auto;
			margin-top: 20px;
			display: flex;
			flex-direction: row;
			.button-add {
				display: flex;
				justify-content: left;
				button {
					color: variables.$attenpo-orange;
					border: none;
					cursor: pointer;
				}
			}
		}
	}

	@media (max-width: 600px) {
		.product-bottom-container {
			.product-list-total {
				font-size: 1.8em;
			}
		}
	}

	@media (max-width: 400px) {
		.product-bottom-container {
			.product-list-total {
				font-size: 1.6em;
			}
		}
	}
}
